<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <div class="logo"></div>
    <div class="login-block">
        <h1>Login</h1>
        <form action="#" class="form-control">
            <input name="username" type="text" value="" placeholder="Username" id="username" />
            <input name="password" type="password" value="" placeholder="Password" id="password" />
            <button name="">Submit</button>
        </form>
    </div>
</body>

</html>